body{
    margin: 0 auto;
    padding: 0;
    background:#bababa;
    height: 100%;
    width: 100%;
    padding-top: 10%;
}
#login{
    height: 400px;
    width: 400px;
    margin: auto;
    background: red;
    text-align: center;
}
#login input[type='text'],input[type='password']{
    height: 50px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
}